@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
/* importe des polices de caractères */
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@font-face {
	font-family: "Dimitri";
	src: URL(../font/DIMITRI_.ttf) format('truetype');
}

@font-face {
	font-family: "Dimis";
	src: url(../font/DIMIS___.TTF) format('truetype');
}

.dall {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	opacity: 0.8;
	width : 60%;
	margin-left: 20%;
	margin-right: 20%;
	
}

.jsp
{
	border-radius: 10px;
	padding: 10px;
	opacity: 0.8;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
}

.jspautre
{
	border-radius: 10px;
	padding: 10px;
	opacity: 0.8;
	background-color: #ffffff;
}

.checkbox {

	display: none;
}

.label {
	position: absolute;
	left: 45%;
	display: inline-block;

	height: 30px;
	width: 50px;
	margin-top: 15px;
	background: green;

	position: relative;
	transition: all .3s;

	border-radius: 15px;

	cursor: pointer;
}

.label:after {
	content: "";

	height: 20px;
	width: 20px;
	background: white;

	position: absolute;
	top: 5px;
	left: 25px;

	transition: all .3s;
	border-radius: 50%;
}

.checkbox:checked+label:after {
	transform: translateX(-20px)
}

.checkbox:checked+label {
	background: gray;
}


.nameToggle {
	display: flex;
	justify-content: space-between;
}



/***************************************************************************************************************************/

body {
	/* supprime les marges */
	/*margin:100px;
	margin-left: 200px;
	margin-right: 200px;*/
	margin-top: 0;
	margin-left: 0%;
	margin-right: 0%;
	padding: 0;
	/*background-color:#9244ff;*/

	/*transition:background-color 4s ease; background:linear-gradient(70deg,#852eff,#9244ff,#5932f1,#bee5bd,#804ec6); */
	transition: background-color 4s ease;
	background: linear-gradient(70deg, #9244ff, #b47fff, #9244ff, #b47fff, #9244ff);
	background-size: auto;
	background-size: 500% 250%;
	animation: degradeFond 30s ease infinite;
}

@keyframes degradeFond {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 50% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
#divInput {
	display: flex;
	justify-content: center;
}

.center {
	display: flex;
	justify-content: center;
}

h1,
h2 {
	letter-spacing: 5px;
	font-family: "Dimis";
}

h1 span {
	pointer-events: none;
}

.container {
	text-align: center;
	perspective: 1000px;
}

h2 {
	text-transform: uppercase;
}

h3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__group {
	/*position: relative;*/
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
}

.form__field {
	font-family: 'Segoe UI';
	color: white;
	width: 100%;
	border: 0;
	border-bottom: 2px;
	outline: 0;
	font-size: 1.3rem;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}


/***************************************************************************************************************************/

#marge {
	margin: 100px;
	margin-left: 200px;
	margin-right: 200px;
}

#groupe_name {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu {
	margin: 0;
	/* supprime les marges */
	padding: 0;
	background: black;
	/* définit la couleur de fond */
	width: 100%;
	/* étend sur toute la largeur de l'écran */
	height: 120px;
	/* définit une hauteur de 100px */
	line-height: 100px;
	/*font-family: "Segoe UI";*/
	color: #9244ff;
}

#menu_gauche {
	float: middle;
	/* place la partie de gauche à gauche */
	/*width: 580px;				/* définit une taille de 635px (maximum du menu de gauche pour un affichage normal) */
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#menu_droit {
	/* pareil que précédemment */
	float: right;
	width: 811px;
	color: #9244ff;
}

#menu_droit a:hover {
	color: #9244ff;
}

#logo {
	margin: 0;
	/* supprime les marges */
	padding: 0;
	/*font-family: 'Sigmar One';*/
	/* définit la police de caractère */
	font-family: "Dimis";
	font-size: 45px;
	/* définit la taille de la police */
	/*text-transform: uppercase;			/* met le texte en majuscules */
}

#logo_picture {
	height: 100px;
	/* définit la taille de l'image sur 100px */
	float: left;
	/* place l'image à gauche */
	color: #9244ff;
	line-height: 50px;
	margin-top: 10px;
	margin-right: 20px;
}

#link {
	text-decoration: none;
	/* supprime tous les soulignements, italiques, gras, ... */
	color: white;
	/* met le texte en blanc */
	/*	text-transform: uppercase;		/* met le texte en majuscules */
	font-size: 30px;
	/* définit la taille de la police */
	margin-right: 45px;
	/* définit une marge à droite de 45px */
	color: #9244ff;

}

#link:hover {
	/* action lorsque la souris est placée sur ces éléments */
	border-bottom: 3px solid #6600f5;
	/* souligne avec un trait en blanc de 3px */
	color: #6600f5;
}

.sommaire_titre {
	margin: 15px;
	/* définit les marges */
	padding: 15px;
	font-size: 50px;
	/* définit la taille de la police */
	color: #9244ff;
	/* définit la couleur de la police */
	/*	text-decoration: underline;	/* souligne le texte*/
	font-family: 'Bungee Shade', cursive;
}

.sommaire {
	margin: 15px;
	color: black;
	font-size: 25px;
	font-family: "Segoe UI";
}

.sommaire:hover {
	color: #9244ff;
}

.liste {
	margin: 15px;
	font-size: 25px;
}

#picture1 {
	margin-left: 15px;
	/* définit les marges */
	padding: 15px;
	float: right;
	/* place l'image à droite */
	width: 800px
		/* définit une largeur de 800px */
}

.contenu {
	/* définit les marges */
	margin: 15px;
	padding: 15px;
	font-size: 25px;
	/* définit la taille de la police */
}

.contenu_titre {
	/* définit les marges */
	margin: 15px;
	padding: 15px;
	font-size: 50px;
	/* définit la taille de la police */
	text-decoration: underline;
	/* souligne le texte*/
	color: #9244ff;
	/* définit la couleur de la police */
}


.titre {
	font-weight: bold;
	/* met le texte en gras */
	background: #9ede92;
	/* définit la couleur de fond */
}

.largeur {
	width: 400px;
	/* définit la largeur des colonnes */
}

#contour {
	border-top: 1px solid #000000;
	/* définit la bordure du haut de 1px */
	border-bottom: 1px solid #000000;
	/* définit la bordure du bas de 1px */
	border-left: 1px solid #000000;
	/* définit la bordure de gauche de 1px */
	border-right: 1px solid #000000;
	/* définit la bordure de droite de 1px */
}

.vide {
	background: #ffff;
	/* définit la couleur de l'arrière plan : blanc */
}

#remonter {
	position: fixed;
	/* fixe la position de l'image */
	width: 25px;
	height: 25px;
	bottom: 25px;
	/* place l'image à 25px du bas */
	right: 25px;
	/* place l'image à 25px du bord droit */
}

#remonter img {
	width: 45px;
	/* définit une largeur de 45px */
}



#picture2 {
	margin-left: 15px;
	/* définit les marges de 15px */
	padding: 15px;
	float: right;
	/* place les images à droite */
	width: 500px
		/* définit une largeur de 500px */
}

#table2 {
	text-align: center;
	/* place le texte au centre */
	width: 98%;
	/* définit sa largeur sur 98% de l'écran */
	font-size: 45px;
	/* définit la taille de la police */
}

.a_propos {
	/* définit la taille de la police */
	font-size: 75px;
	text-align: center;
	/* place le texte au centre */
}

fieldset {
	background: #ffce33;
	/* définit la couleur de l'arrière plan */
	font-family: Merienda;
	/* définit la police de caractère */
	font-size: 20px;
	/* définit la taille de la police */
	padding: 10px;
	/* définit des marges de 10px */
	margin: 10px;
}

#contact1 {
	display: inline-block;
	/* aligne les champs des réponses */
	text-align: right;
	/* aligne le texte à droite */
}

#contact2 {
	display: inline-block;
	/* aligne les champs des réponses */
	text-align: right;
	/* aligne le texte à droite */
}

#champ_obli {
	color: red;
	/* met le texte en rouge */
}

#ref {
	font-family: Merienda;
	/* définit la police de caractère */
}

#bouton {
	background: #00de37;
	/* définit la couleur de l'arrière plan */
	text-align: center;
	/* place le texte au centre */
	font-family: Merienda;
	/* définit la police de caractère */
	font-weight: bold;
	/* met le texte en gras */
	border-radius: 8px;
	/* arrondit les bords */
	font-size: 24px;
	/* définit la taille de la police */
	cursor: pointer;
	/* la souris devient une main lorsque la souris passe dessus */
	text-align: center;
	/* place le texte au centre */
	vertical-align: middle;
	/* aligne le texte au centre verticalement */
}

#bouton:hover {
	background: #005c17;
	/* définit la couleur de l'arrière plan lorsque la souris passe dessus */
}

/* Dropdown Button */
.form__group
{
	width:100%;
	display: flex;
	justify-content: center;
	border: none;
}

.form__field
{
	width:30%;
	background-color: #821ed4;
	color: white;
	padding: 16px;
	font-size: 24px;
}

.dropbtn {
	background-color: #821ed4;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown-sort {
	display: flex;
	justify-content: space-between;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	font-size: 16px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content input {
	color: rgb(0, 0, 0);
	padding: 12px 16px;
	border: hidden;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content input:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #821ed4b7;
}

@font-face {
	font-family: Dimitri;
	src: url(font/DIMITRI_.TTF)format("truetype")
}

.en {
	width: 100%;
	background-color: #303030;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	justify-content: center;
	display: flex
}


.colonne {
	flex-direction: column;
	display: flex
}

.ligne {
	flex-direction: row;
	display: flex
}

.bulle {
	border-radius: 10px
}

#test {
	justify-content: space-evenly;
}

#page_streamer {
	background-color: #cdbbed;
	width: 80%;
}

#conteneur {
	overflow: hidden;
	background-color: #f7baf7;
	min-width: 33%;
	box-shadow: 0px 15px 10px -5px #777;
	text-align: center;
}

#anim {
	width: 400%;
	height: 0;
	padding-top: 75%;
	background-image: url("");
	background-size: contain;
	background-position: center;
	animation: defilement2 12s linear infinite;
}

@keyframes defilement2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-75%, 0);
	}
}

.dall_classement {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	opacity: 0.8;
}

.streamer_name {
	width: 100%;
	display: flex;
	justify-content: center;

}

.streamer_pos {
	position: absolute;
}

#afficheStreamers
{
	width : 60%;
	margin-left: 20%;
	margin-right: 20%;
}